body {
    background-color: #000000;
    color: #00ff00;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.box {
    text-align: center;
    border: 2px solid #00ff00;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 20px #00ff00;
}
h1 {
    font-size: 70px;
    letter-spacing: 10px;
    margin: 0;
}
p {
    color: white;
    font-size: 18px;
}
button {
    background: #00ff00;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}
